* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  box-sizing: border-box;
}

/* Template */
.section-header {
  font-size: 1.8em;
  color: #817d5e;
  margin-bottom: 25px;
}
.section-img {
  float: left;
  width: 60%;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-right: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
.content-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.section-content,
.form-content,
.response-content {
  border-radius: 15px;
  background-color: #ddd;
  padding: 30px;
  margin-bottom: 35px;
}

/* Header */
header {
  height: 180px;
  background-color: #c4bf94;
  text-align: center;
}
header .logo {
  padding: 20px;
  max-width: 250px;
  margin: 0 auto;
}
header p {
  font-size: 1.2em;
  margin-top: 5px;
  text-decoration: underline;
  font-style: italic;
  font-weight: 540;
}

/* Menu */
.menu {
  height: 70px;
  background-color: #333;
}
.menu ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu ul li {
  margin-right: 20px;
  background-color: #c4bf94;
  padding: 10px 15px;
  border-radius: 20px;
}
.menu ul li a {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
.menu ul li:hover {
  background-color: #ddd;
}
.menu ul li:hover a {
  text-decoration: underline;
}

/* Content */
.container {
  display: flex;
  padding: 50px;
  gap: 30px;
  background-color: #777;
}
.content {
  max-width: 70vw;
}
.section-content::after {
  content: "";
  display: block;
  clear: both;
}
#tentang-kami span {
  font-size: 1.7em;
  font-weight: bold;
}
#tentang-kami p {
  font-size: 1.2em;
  text-align: justify;
}
#sejarah p {
  font-size: 1.2em;
  text-align: justify;
}
#visi-kami img {
  width: 20vw;
  margin-bottom: 35px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
#visi-kami h3 {
  font-size: 1.4em;
  text-decoration: underline;
  margin-bottom: 20px;
}
#visi-kami p {
  font-size: 1.2em;
  text-align: justify;
}
#kegiatan .content-box {
  font-size: 1.2em;
  margin-bottom: 25px;
}
#kegiatan .content-box i {
  flex: 1.5;
  margin-left: 20px;
  text-decoration: underline;
}
#kegiatan .content-box p {
  flex: 3;
  text-align: justify;
}

/* Sidebar */
.sidebar {
  background-color: #c4bf94;
  border-radius: 15px;
  max-width: 25vw;
  max-height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.sidebar img {
  width: 60%;
}
.sidebar .side-1 p {
  font-size: 1.4em;
  margin-bottom: 12px;
  font-weight: bold;
}
.sidebar .side-2 p,
a {
  font-size: 1.2em;
}

/* Form */
.form-content h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 40px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.form-box {
  flex: 1;
  width: 40vw;
}
.form-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-block label {
  font-size: 1.2em;
  margin-right: 20px;
}
.form-block input,
textarea,
select {
  background-color: #333;
  padding: 8px;
  width: 220px;
  border-radius: 5px;
  border: 1px solid black;
  color: #ddd;
}
.form-block textarea {
  width: 260px;
  height: 100px;
}
.form-block select {
  width: 238px;
}
.form-block .inp-radio {
  width: 20px;
}
.form-container button {
  background-color: #333;
  padding: 8px 15px;
  border-radius: 5px;
  color: #ddd;
}
.form-container button:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #333;
}
.form-block input:focus,
textarea:focus,
select:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.form-block input[type="radio"]:focus {
  box-shadow: none;
}

/* Response */
.response-content {
  text-align: center;
}
.response-content h1 {
  color: #817d5e;
  text-decoration: underline;
  margin-bottom: 30px;
}
.response-content p {
  font-size: 1.2em;
  font-style: italic;
}
.response-content p span {
  font-weight: 600;
}
.response-content img {
  margin-top: 120px;
  width: 30vw;
}

/* Footer */
footer {
  padding: 10px;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #222;
}
footer span {
  color: #ddd;
  font-size: 1.2em;
  font-weight: bold;
  margin: auto;
}
