body {
	background: purple;
}
table, th, td {
	border: 1px solid black;
}
table {
	background: white;
}
.baris1 {
	background: yellow;
}
#kol3{
	width: 150px;
}
.kolom1 {
	background: blue;
}
.kolom2 {
	background: red;
}
.kolom3 {
	background: green;
}